@model DOOR.Models.Supplier

@{
    ViewData["Title"] = "Details";
}

<style>
   
    h1 {
        color: #343a40;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

 
    h4 {
        color: #6c757d;
        font-size: 1.2rem;
        font-weight: normal;
        text-align: center;
        margin-bottom: 20px;
    }

  
    .data-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #e9ecef;
        border-radius: 10px;
        background-color: #f8f9fa;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    
    dt {
        font-weight: bold;
        color: #007bff;
    }

    dd {
        margin-left: 0;
        color: #343a40;
    }

  
    .btn-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

        .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }

    
    .btn-back {
        background-color: #6c757d;
        border-color: #6c757d;
        color: white;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 5px;
        transition: all 0.3s ease;
        text-decoration: none;
        display: inline-block;
    }

        .btn-back:hover {
            background-color: #5a6268;
            border-color: #545b62;
        }
</style>

<h1>Детали</h1>

<div class="data-container">
    <h4 style="font-size: 24px; color: #000;">Поставщики</h4>
    <dl class="row">
       
        <dt class="col-sm-3">
            <th>Имя</th>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>

        
        <dt class="col-sm-3">
            <th>Адрес</th>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address)
        </dd>

        
        <dt class="col-sm-3">
            <th>Номер телефона</th>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
    </dl>

   
    <div class="btn-container">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Изменить</a>
        <a asp-action="Index" class="btn-back">Вернуться назад</a>
    </div>
</div>
